#ifndef CAN_RECEIVER_H
#define CAN_RECEIVER_H

#ifdef __cplusplus
extern "C" {
#endif

#include "stdbool.h"
#include "stdint.h"

//--------------------------------------------------------------------------------------------------
// Receive message ID getters for iteration
//--------------------------------------------------------------------------------------------------
uint32_t CANRX_{{ alias }}_GetMidFromIdx(const uint32_t muxIdx);

//--------------------------------------------------------------------------------------------------
// Signal receive unpack functions
//--------------------------------------------------------------------------------------------------
{% for signal in signalsToReceive %}
// {{ signal["name"] }}
{{ signal["rawType"] }} CANRX_{{ alias }}_GetSRawFromFrame_{{ signal["name"] }}(const uint8_t * const pData);
{{ signal["rawType"] }} CANRX_{{ alias }}_GetSRaw_{{ signal["name"] }}(void);
{{ signal["convType"] }} CANRX_{{ alias }}_GetSFromFrame_{{ signal["name"] }}(const uint8_t * const pData);
{{ signal["convType"] }} CANRX_{{ alias }}_GetS_{{ signal["name"] }}(void);

{% endfor %}
//--------------------------------------------------------------------------------------------------
// Message receive hook
//--------------------------------------------------------------------------------------------------
bool CANRX_{{ alias }}_Receive(const uint16_t mid, const uint8_t dlc, const uint8_t * const pData);

#ifdef __cplusplus
}
#endif

#endif // CAN_RECEIVER_H
