#ifndef MESSAGE_INFO_H
#define MESSAGE_INFO_H

#ifdef __cplusplus
extern "C" {
#endif

//--------------------------------------------------------------------------------------------------
// Transmit message info macros
//--------------------------------------------------------------------------------------------------
{% for message in messagesToTransmit %}
// {{ message["name"] }}
#define CAN_{{ alias }}_{{ message["name"] }}_MID ({{ message["id"] }}U)
#define CAN_{{ alias }}_{{ message["name"] }}_DLC ({{ message["length"] }}U)
#define CAN_{{ alias }}_{{ message["name"] }}_MAX_MUX_IDX ({{ (message["transmitMuxIdxs"]|length - 1)|max(0) }}U)
{% for muxIdx in message["transmitMuxIdxs"] %}
#define CANTX_{{ alias }}_{{ message["name"] }}_M{{ muxIdx }}_ARR_IDX ({{ loop.index0 }}U)
{% endfor %}
#define CANTX_{{ alias }}_{{ message["name"] }}_ARR_LEN ({{ message["transmitMuxIdxs"]|length|max(1) }}U)

{% endfor %}
//--------------------------------------------------------------------------------------------------
// Receive message info macros
//--------------------------------------------------------------------------------------------------
#define CANRX_{{ alias }}_NUM_MESSAGES ({{ messagesToReceive|length }}U)

{% for message in messagesToReceive %}
// {{ message["name"] }}
#define CAN_{{ alias }}_{{ message["name"] }}_MID ({{ message["id"] }}U)
#define CAN_{{ alias }}_{{ message["name"] }}_DLC ({{ message["length"] }}U)
#define CAN_{{ alias }}_{{ message["name"] }}_MAX_MUX_IDX ({{ (message["receiveMuxIdxs"]|length - 1)|max(0) }}U)
{% for muxIdx in message["receiveMuxIdxs"] %}
#define CANRX_{{ alias }}_{{ message["name"] }}_M{{ muxIdx }}_ARR_IDX ({{ loop.index0 }}U)
{% endfor %}
#define CANRX_{{ alias }}_{{ message["name"] }}_ARR_LEN ({{ message["receiveMuxIdxs"]|length|max(1) }}U)

{% endfor %}
#ifdef __cplusplus
}
#endif

#endif // MESSAGE_INFO_H
